<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Registration page</title>
    </head>
    <body>

        <h1>REGISTRATION PAGE</h1>
        <div>
            <form class="register_body" action="/registration " method="post">
                <input type="text" name="name" placeholder="name">
                <input type="number" name="age" placeholder="age">
                <hr/>
                <input type="text" name="email" placeholder="email">
                <input type="text" name="password" placeholder="password">
                <input type="submit" value="ok">
            </form>
        </div>

    </body>
</html>